<link href="/assets/css/animal.new.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-info ">
    <a class="navbar-brand" href="#">Navbar</a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="/user">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" href="#">Favoritos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Intereses</a></li>
            <li class="nav-item"><a class="nav-link" href="/animal-new">Dar en adopción</a></li>
            <li class="nav-item"><a class="nav-link" href="animalesUser">Mis animales</a></li>
            <li class="nav-item"><a class="nav-link" href="/user-edit">Editar perfil</a></li>
            <li class="nav-item"><a class="nav-link" href="/login/1">Salir</a></li>
        </ul>
    </div>
</nav>

<h1>{{title}}</h1>

<div class="alert alert-danger" *ngIf="status == 'error'">
    ¡Error, no se ha podido registrar el animal !
</div>

<div class="card">
    <div class="card-body">
        <form #animalNewForm="ngForm" (ngSubmit)="enviarDatos()">
            <div class="group">
                <input placeholder="Introduzca el nombre" type="text" class="form-control" class="input" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="animal.nombre" required aria-describedby="helpId">
            </div>
            <div class="group">
                <label for="exampleFormControlSelect1">Selecciona el tipo de animal</label>
                <select class="form-control" class="input" id="exampleFormControlSelect1" name="tipo" [(ngModel)]="animal.tipo" required aria-describedby="helpId">
                    <option value="">Selecciona un tipo</option>
                    <option value="Perro">Perro</option>
                    <option value="Gato">Gato</option>
                    <option value="Pajaro">Pajaro</option>
                    <option value="Conejo">Conejo</option>
                    <option value="Tortuga">Tortuga</option>
                    <option value="Roedor">Roedor</option>
                    <option value="Pez">Pez</option>
                    <option value="Reptil">Reptil</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
            <div class="group">
                <input placeholder="Introduzca la raza" type="text" class="form-control" class="input" name="raza" id="raza" #raza="ngModel" [(ngModel)]="animal.raza" required aria-describedby="helpId">
            </div>
            <div class="group">
                <input placeholder="Introduzca la edad" type="number" class="form-control" class="input" name="edad" id="edad" #edad="ngModel" [(ngModel)]="animal.edad" required aria-describedby="helpId">
            </div>
            <div class="group">
                <input placeholder="Introduzca el tamaño" type="text" class="form-control" class="input" name="tamanio" id="tamanio" #tamanio="ngModel" [(ngModel)]="animal.tamanio" required aria-describedby="helpId">
            </div>
            <div class="group">
                <label for="exampleFormControlSelect3">Selecciona la provincia del animal</label>
                <select class="form-control" id="exampleFormControlSelect1" name="provincia" class="input" [(ngModel)]="animal.provincia" required aria-describedby="helpId">
                    <option value="">Elige Provincia</option>
                    <option value="Álava/Araba">Álava/Araba</option>
                    <option value="Albacete">Albacete</option>
                    <option value="Alicante">Alicante</option>
                    <option value="Almería">Almería</option>
                    <option value="Asturias">Asturias</option>
                    <option value="Ávila">Ávila</option>
                    <option value="Badajoz">Badajoz</option>
                    <option value="Baleares">Baleares</option>
                    <option value="Barcelona">Barcelona</option>
                    <option value="Burgos">Burgos</option>
                    <option value="Cáceres">Cáceres</option>
                    <option value="Cádiz">Cádiz</option>
                    <option value="Cantabria">Cantabria</option>
                    <option value="Castellón">Castellón</option>
                    <option value="Ceuta">Ceuta</option>
                    <option value="Ciudad Real">Ciudad Real</option>
                    <option value="Córdoba">Córdoba</option>
                    <option value="Cuenca">Cuenca</option>
                    <option value="Gerona/Girona">Gerona/Girona</option>
                    <option value="Granada">Granada</option>
                    <option value="Guadalajara">Guadalajara</option>
                    <option value="Guipúzcoa/Gipuzkoa">Guipúzcoa/Gipuzkoa</option>
                    <option value="Huelva">Huelva</option>
                    <option value="Huesca">Huesca</option>
                    <option value="Jaén">Jaén</option>
                    <option value="La Coruña/A Coruña">La Coruña/A Coruña</option>
                    <option value="La Rioja">La Rioja</option>
                    <option value="Las Palmas">Las Palmas</option>
                    <option value="León">León</option>
                    <option value="Lérida/Lleida">Lérida/Lleida</option>
                    <option value="Lugo">Lugo</option>
                    <option value="Madrid">Madrid</option>
                    <option value="Málaga">Málaga</option>
                    <option value="Melilla">Melilla</option>
                    <option value="Murcia">Murcia</option>
                    <option value="Navarra">Navarra</option>
                    <option value="Orense/Ourense">Orense/Ourense</option>
                    <option value="Palencia">Palencia</option>
                    <option value="Pontevedra">Pontevedra</option>
                    <option value="Salamanca">Salamanca</option>
                    <option value="Segovia">Segovia</option>
                    <option value="Sevilla">Sevilla</option>
                    <option value="Soria">Soria</option>
                    <option value="Tarragona">Tarragona</option>
                    <option value="Tenerife">Tenerife</option>
                    <option value="Teruel">Teruel</option>
                    <option value="Toledo">Toledo</option>
                    <option value="Valencia">Valencia</option>
                    <option value="Valladolid">Valladolid</option>
                    <option value="Vizcaya/Bizkaia">Vizcaya/Bizkaia</option>
                    <option value="Zamora">Zamora</option>
                    <option value="Zaragoza">Zaragoza</option>
                </select>
            </div>
            <div class="group">
                <input placeholder="Introduzca su localidad" type="text" class="form-control" class="input" name="localidad" id="localidad" #localidad="ngModel" [(ngModel)]="animal.localidad" required aria-describedby="helpId">
            </div>
            <div class="group">
                <textarea placeholder="Introduzca una breve descripción" class="form-control" class="input" name="descripcion" id="descripcion" #descripcion="ngModel" [(ngModel)]="animal.descripcion" required aria-describedby="helpId" style="height: 8em;"></textarea>
            </div>
            <br>
            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success" [disabled]="!animalNewForm.form.valid">{{title}}<span></span></button>
                <button type="button" routerLink="/user" class="btn btn-primary">Cancelar<span></span></button>
            </div>
        </form>
    </div>
</div>