<link href="/assets/css/inicio.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="assets/imagenes/logo.png" alt="logo" class="img-fluid">
        </div>
    </div>
</div>

<div class="botones">
    <button class="cta" routerLink="/login">
        <span>Login</span>
        <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
    </button>

    <button class="cta" routerLink="/register">
        <span>Registro</span>
        <svg viewBox="0 0 13 10" height="10px" width="15px">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
        </svg>
    </button>
</div>